{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "plugin:react/recommended",
    "standard"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "modules": true
    },
    "sourceTypes": "module"
  },
  "plugins": ["react"],
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "comma-dangle": [2, "always-multiline"],
    "experimentalObjectRestSpread": true
  },
  "globals": {
    "jQuery": true
  }
}
